
<div id="aquarium" class="col-md-4">
<h1>The Aquarium</h1>

<table id="aquarium">
<%= for y <- @min_cell..@max_cell do %>
  <tr><%= for x <- @min_cell..@max_cell do %>
    <td class="<%= content @fish, x, y %>" data-x="<%= x %>" data-y="<%= y %>"></td>
      <% end %>
  </tr>
  <% end %>
</table>
</div>
<div id="your_fish" class="col-md-4">
  <h1>Your Fish</h1>
  <h4>Score: <span id=score>0</span>
  <p id="fish_display"></p>
</div>
